<%= simple_form_for @post do |f| %>
  <div class="input-group"> 
    <%= f.input :body %>
  </div> <br>

  <div class="input-group"> 
    <%= f.association :sport, label_method: :name, prompt: "Select Sport" %>
  </div> <br>

  <div class="input-group"> 
    <%= f.association :team, label_method: :team_name, prompt: "Select Team" %>
  </div> <br>


  <div class="input-group">
    <% @post.user_id = current_user.id %>
  </div> <br>


  <%= f.submit class: 'btn btn-primary' %>
<% end %>
